*{
    box-sizing: border-box;
}
 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .times-news{
    font-family: 'Times New Roman', Times, serif;
 }
   .my-button{
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #027e02;
    --bs-btn-hover-border-color: #027e02;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #027e02;
    --bs-btn-active-border-color: #027e02;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
   }
   .my-button:active{
      transform: translateY(5%);
    }